.form-group .form-control {
  margin-bottom: 1rem;
  /* padding: 20px 20%; */
  /* padding-left: 100px; */
}

.form {
  padding: 20px 15%;
}

.card {
  margin: 50px 25%;
}

.button {
  margin-left: 35%;
  margin-right: 30%;
}
